
.dashboard-sidebar {
    display: none;
}

@media (min-width: 600px) {
    
    .navbar {
        display: none !important;
    }
    
    .dashboard-sidebar {
        display: block;
        width: 250px;
        height: 100vh;
        top: 0;
        left: 0;
        background: #343a40; 
        color: white;
        padding: 20px;
    }

    .dashboard-sidebar h4 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    .dashboard-sidebar .nav-link {
        color: white;
        padding: 10px;
        display: block;
        font-size: 18px;
        transition: 0.3s;
        margin-bottom: 50px;
    }

    .dashboard-sidebar .nav-link:hover {
        background: #495057; 
        border-radius: 5px;
        color: rgb(127, 163, 255);
    }

    .tasks, .logout {
        margin-top: 100px;
    }
}

.container-sm{
    margin-top: 30px;
}

.title{
    margin-bottom: 20px;
    text-align: center;
}

.btn{
    color: white !important;
}



#margs{
    margin-top: 10px;
}